@charset "utf-8";

.index-view{
    width: 100%;
    background: black;
    position: relative;
    .bg-img{
        position: relative;
        background: black;
        width: 960px;
        margin: 0 auto;
        img{
            width: 100%;
        }
        .wy{
            position: absolute;
            top:50px;
            right: 50px;
            width: 80px;
            img{
                width: 100%;
            }
        }
    }

    .logo-area{
        position: absolute;
        top:100px;
        left: 0;right: 0;
        margin: 0 auto;
        width: 300px;
        img{
            width: 100%;
        }
    }
    .bm-form{
        position: absolute;
        top:600px;
        left: 0;right: 0;
        margin: 0 auto;
        width: 450px;
        .form-box{
            .sub-item{
                margin-bottom: 15px;
                .item-name{
                    display: inline-block;
                    color: white;
                    font-size: 13px;
                }
                .item-input{
                    display: inline-block;
                    width: 75%;
                    input,select{
                        height: 26px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .gift-img{
        width: 105px;
        margin: 0 auto;
        height: 105px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .yy-ares{
        width: 90px;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }
}
