<div class="index-view">
    <div class="bg-img">
        <img src="images/bg.jpg" alt=""/>
        <!--<div class="wy">-->
            <!--<img src="images/wy.png" alt=""/>-->
        <!--</div>-->
    </div>
    <!--<div class="logo-area">-->
        <!--<img src="images/cdz.png" alt=""/>-->
    <!--</div>-->
    <div class="bm-form">
        <div class="yy-ares">
            <img src="images/yy.png" alt=""/>
        </div>
        <p></p>
        <form name="myform" class="form-box text-center">
            <div class="row">
                <div class="col-md-6 sub-item">
                    <div class="item-name">
                        姓名：
                    </div>
                    <div class="item-input">
                        <input type="text" ng-model="form.name" required/>
                    </div>
                </div>
                <div class="col-md-6 sub-item">
                    <div class="item-name">
                        Tel ：
                    </div>
                    <div class="item-input">
                        <input type="text" ng-model="form.tel" required/>
                    </div>
                </div>
                <div class="col-md-6 sub-item">
                    <div class="item-name">
                        品牌：
                    </div>
                    <div class="item-input">
                        <select required ng-model="data.brand" ng-options="brand.N for brand in data.brandList"
                                 ng-change="brandSelect(brand)"></select>
                        <!--<select ng-model="form.brand" ng-change="brandSelect()">-->
                            <!--<option ng-repeat="brand in data.brandList" >{{brand.N}}</option>-->
                        <!--</select>-->
                    </div>
                </div>

                <div class="col-md-6 sub-item">
                    <div class="item-name">
                        地区：
                    </div>
                    <div class="item-input">
                        <select  required ng-model="form.area" >
                            <option ng-repeat="area in data.areaList">{{area.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 sub-item">
                    <div class="item-name">
                        车系：
                    </div>
                    <div class="item-input">
                        <select ng-model="form.series" required>
                            <option ng-repeat="series in data.seriesList">{{series.N}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12 text-center" ng-repeat="gift in data.gifts">
                    <div class="gift-img text-center">
                        <img ng-src="{{gift.url}}" alt=""/>
                    </div>
                    <div class="git-name">
                        {{gift.name}}
                    </div>
                    <div class="git-check">
                        <input type="checkbox" ng-model="gift.checked" ng-click="updateSelection($index,data.gifts)">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12 text-center" style="color: white;font-size: 13px;">
                    <input type="checkbox" checked>同意成都网易汽车以电话方式通知试驾受理信息
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-lg" ng-click="signUp(myform.$valid)" style="background-color: transparent;color: white;border-color: white;margin-top: 15px;">提交报名</button>
                </div>
            </div>
        </div>
    </div>
</div>
